.header{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.logo{
  text-align: center;
}
.logo__img{
  width: 90px;
}
.header__search{
  color: white;
  display: flex;
  gap: 5px;
  height: 100%;
  cursor: pointer;
}
.search-map{
  color:black
}

.home{
  display: flex;
  align-items: center;
  position: relative;
}
.home__center{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 229px;

}
.home__container-img{
   text-align: center;
}
.container-img__img{
  width: 90%;
}

.home__title{
  font-size: 70px;
  text-align: center;
  letter-spacing: 15px;
}

.home__subtitle{
  font-size: 40px;
}

.home__left_button{
  height: auto;
	min-width: auto;
  display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
  text-transform: lowercase;

  cursor:pointer;
  position:relative;

	border:none;
	border-radius: 5px;
  padding: 100px 20px;
	font-size: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,38,71,1) 62%, rgba(7,55,65,1) 100%);
  color: white;
}

.home__right{
  position: absolute;
  top: -200px;
  right: 0;
  z-index: -5;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  display: flex;
}
.map{
  width: 40%;
}

.right__info{
  width: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,38,71,1) 62%, rgba(7,55,65,1) 100%);
  color: white;
  height: 100%;
  padding: 210px 50px 0px 50px;
}

.info-map{
  width: 50%;
}

.home__map{
  width:50%;
  height: 500px;
  box-sizing: border-box;
  padding-bottom: 800px;
}
