.header{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.logo{
  text-align: center;
}
.logo__img{
  width: 40px;
}
.header__search{
  color: white;
  display: flex;
  gap: 5px;
  height: 100%;
  cursor: pointer;
}
.search-map{
  color:black
}

.home{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.home__center{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 13%;
}
.home__container-img{
   text-align: center;
   width: 80%;
   height: 40rem;
}
.container-img-map{
  height: 40rem;
}

.container-img__img{
  position: absolute;
  top: 195px;
  left: 130px;
  width: 70%;
}
.img-map{
  width: 85%;
}

.home__title{
  font-size: 70px;
  text-align: center;
  letter-spacing: 15px;
}

.home__subtitle{
  font-size: 40px;
}

.home__left_button{
  height: auto;
	min-width: auto;
  display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
  text-transform: lowercase;
  position:relative;

	border:none;
	border-radius: 5px;
  padding: 100px 20px;
	font-size: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,38,71,1) 62%, rgba(7,55,65,1) 100%);
  color: white;
  cursor: pointer;
}

.home__right{
  position: relative;
  width: 25%;
  box-sizing: border-box;
  display: flex;
}
.map{
  width:30%;
}

.right__info{
  position: absolute;
  z-index: -10;
  top: -578px;
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,38,71,1) 62%, rgba(7,55,65,1) 100%);
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 48rem;
}

.leaflet-container{
  width:30%;
  margin-top: 140px;
}
